@model HelloMVC.Models.ContactData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Styles/IndexStyleSheet.css" />
    <title>Index</title>
</head>
<body>
    <div id="main">
        <div id="welcome">
            <h1 id="welcome_header">Welcome!</h1>

            <div class="form_box">
                @using (Html.BeginForm("SubmissionConfirmation","Home"))
                {
                    @Html.ValidationSummary()
                    <p>First Name:<br />  @Html.TextBoxFor(x => x.FirstName)</p>
                    <p>Last Name:<br /> @Html.TextBoxFor(x => x.LastName)</p>
                    <p>Phone:<br /> @Html.TextBoxFor(x => x.PhoneNumber)</p>
                    <p>Email:<br /> @Html.TextBoxFor(x => x.Email)</p>
                    <p>Age:<br /> @Html.TextBoxFor(x => x.Age)</p>
                    <div id="submit_button"><input type="submit" value="Submit" /></div>
                }
            </div>
        </div>
    </div>
</body>
</html>
